# Core
lxml>=4.9.0
fastapi
uvicorn
pydantic
mwparserfromhell
pandas
gunicorn
python-dotenv

# ML/AI
--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
faiss-cpu
lightgbm
numpy
gigatoken
tiktoken
# LLM Integration
litellm==1.40.0
groq
openai
google-generativeai

# Storage
pyarrow
boto3
google-cloud-storage

# Utilities
dataclasses
uuid6

aiohttp
